<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Mikkel TestEksamen</title>
</head>

<body>
    <h1>Shopping list</h1>
    <div id="app">
        <h2>Get All etc (GET)</h2>
        <button id="getAllBtn" @click="getAllShoppingItems" class="btn btn-primary">See Shoppinglist</button>
        <br><br>
        <button id="totalPriceBtn" @click="getTotalPrice()" class="btn btn-primary">See Total Price</button>
        <div id="totalPrice" v-if="totalValue > 0">Total price: {{totalValue}}</div>
        <div v-else></div>

        <table id="shoppingItemList" v-if="shoppingitems.length" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="shoppingitem in shoppingitems">
                    <td>{{shoppingitem.id}}</td>
                    <td>{{shoppingitem.name}}</td>
                    <td>{{shoppingitem.price}}</td>
                    <td>{{shoppingitem.quantity}}</td>
                </tr>
            </tbody>
        </table>
        <div v-else>No list</div>

        <h2>Add (POST)</h2>

        <h2>Delete (DELETE)</h2>
        
    </div>
    
    <script src="js/index.js"></script>
</body>